.image{
    height: 200px;
}

.beers{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#Liked{
    background-color: white;
    font-size: 15pt;
    border: 0;
    /* color: red; */
}

li{
    margin: 0 auto;
}